<!DOCTYPE html>
<html lang="en-us" class="h-100">

<head>
  <title>
    {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{
    site.description }}
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="dark light" />
  <!-- Stylesheet that includes Bootstrap dark mode & custom stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" />
</head>

<body class="d-flex flex-column h-100">
  <div class="container">
    {% include navigation.html %}
    <div class="body">{{ content }}</div>
  </div>
  {% include footer.html %}
</body>

</html>